
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
/*///////////////////////////////////*/
  a:hover, a:active, a:focus {
    /*color: #29ca8e;*/
    color: #a80228;
    outline: none;
  }
  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  section {
    position: relative;
    padding: 100px 0;
  }

  #team {
    background: #f9f9f9;
  }

  #team {
    text-align: center;
  }

  .mou-team {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  .land-info {
    padding: 20px 30px;
  }

  .mou-image img {
    width: 100%;
  }

  .mou-team .mou-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
  }

  .mou-team .mou-icon li a {
    background: #ffffff;
    color: #252020;
  }

  .land-info h3 {
    margin: 0;
  }


  .mou-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .mou-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .mou-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .mou-icon li a:hover {
    /*background: #29ca8e;*/
    color: #a80228;
  }

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }

  @media only screen and (max-width: 992px) {
    section,
    footer {
      padding: 60px 0;
    }


    .feature-thumb,
    .about-info,
    .mou-team,
    .footer-info {
      margin-bottom: 50px;
    }

    .contact-image {
      margin-top: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 900px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }



  }

  .rightA{
    float: right;
  }
  #team2 {
    text-align: center;
  }
  .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mou-team:hover .mou-image {
  /*opacity: 0.3;*/
  filter: brightness(50%);
}

.mou-image:hover .middle {
  opacity: 1;
}

.text {
  /*background-color: gray;*/
  /*width: 100%;*/
  color: white;
/*  font-size: 16px;
  padding: 16px 32px;*/
}
.allMou{
  /*background: #fff;*/
  height: auto;
  width: 88%;
  margin: auto;
  margin-top: 30px;
  text-align: left;
  padding: 0;

}
.allMou1{
  color: gray;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  margin-left: 3%;
  

} 
.badge{
  margin-top: 3px;

}
.list-group-item{
  font-size: 20px;
}
  #courses .section-title {
    text-align: center;
  }

  #courses .owl-theme .owl-nav {
    margin-top: 30px;
  }

  #courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .courses-thumb {
    background: #f9f9f9;
    position: relative;
  }

  .courses-top {
    position: relative;
  }

  .courses-image {
    background: linear-gradient(to right, #202020, #101010);
  }

  .courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
  }

  .courses-date span,
  .courses-author span {
    font-size: 14px;
    font-weight: bold;
  }

  .courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
  }

  .courses-detail {
    padding: 25px 25px 15px 25px;
  }

  .courses-detail h3 {
    margin: 0 0 2px 0;
  }

  .courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
  }

  .courses-author,
  .courses-author span {
    display: inline-block;
    vertical-align: middle;
  }

  .courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
  }

  .courses-price {
    float: right;
    margin-top: 10px;
  }

  .courses-price span {
    background: #29ca8e;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price.free span {
    background: #3f51b5;
  }


  @media only screen and (max-width: 992px) {
   .allMou{
    width: 95%;
   }
   .image{
    width: 50%;
   }

  }

 .content{
   height: 2600px;
   overflow: auto;
 }



  @media only screen and (min-width: 760px) {
    .content{
   height: 2600px;
   overflow: auto;
  }
    .allMou{
    width: 88%;
    border: solid 10px #f9f9f9;
  }
   .image{
    width: 40%;
  }
}
  @media only screen and (max-width: 1080px) {
    .content{
   height: 4850px;
   overflow: auto;
  }
    .allMou{
    width: 100%;
    border: solid 10px #f9f9f9;
  }
   .image{
    width: 40%;
  }
  .mou-team{
    width: 100%;
  }
}

a:hover .list-group-item{
  background: #a80228;
  color: #fff;
}

a:hover .badge{
  background: none;
  font-size: 20px;
}
.slideshow{
  width: 50%;
  margin: auto;
}
